################
TEAM INFO
################
Name1: Chia-Hua Lu
EID1: CL38755
CS login: chiahua
Email: thegoldflute@gmail.com
Unique Number: 52075

Name2: Cristian Martinez
EID2: CJM4686
CS login: criscube
Email:criscubed@gmail.com
Unique Number: 52080

Name3: Connie Chen
EID3: CMC5837
CS login: connie
Email: conniem09@gmail.com
Unique Number: 52105

Name4:
EID4:
CS login:
Email:
Unique Number:

Slip days used: 2

################

